@import "tailwindcss";

/* Activa el modo oscuro manual con la clase .dark */
@variant dark (&:where(.dark, .dark *));

@theme {
  --color-purple-custom: #9e039e;
  --animate-blob: blob 7s infinite;
  
  @keyframes blob {
    0% { transform: translate(0px, 0px) scale(1); }
    33% { transform: translate(30px, -50px) scale(1.1); }
    66% { transform: translate(-20px, 20px) scale(0.9); }
    100% { transform: translate(0px, 0px) scale(1); }
  }
}

html {
  scroll-behavior: smooth;
  height: 100%; /* Asegura que el html ocupe todo el alto */
}

body {
    /* MODO CLARO */
    background: linear-gradient(to bottom, #f3e8ff 0%, #ffffff 100%);
    background-attachment: fixed; /* <--- ESTA ES LA SOLUCIÓN: Fija el fondo */
    background-size: cover;       /* Asegura que cubra todo */
    color: #1e293b;
    min-height: 100vh;            /* Altura mínima de pantalla completa */
}

/* MODO OSCURO */
.dark body {
    background: #0c1a32; 
    background-image: none;
    background-attachment: fixed; /* También fijamos el fondo oscuro por si acaso */
    color: #f1f5f9;
}